<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{lib/css/main.css}">
    <link rel="stylesheet" th:href="@{/lib/css/public.css}">

    <script th:src="@{/lib/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

    <style>
        .body{
            margin-left: 200px;
            height:800px;
        }
    </style>
</head>
<body>
<div class="body">
  <h1>
    欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统 欢迎使用学生信息管理系统
  </h1>
    <h1>
        欢迎使用学生信息管理系统
    </h1>
</div>
</body>
</html>